.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  border-top: 2px solid #f7f7f7;
  bottom: 0px;
  left: 0px;
  padding: 20px 50px;
  box-sizing: border-box;
}

.nav__list {
  font-size: 20px;
  opacity: 0.8;

  display: flex;
  justify-content: space-between;
}
